*.request
*.textClipping
Sources/LeafDriver/File.swift
Sources/LeafDriver/JSONbasedModel/.DS_Store
Sources/.DS_Store
.DS_Store
.DS_Store
Sources/LeafDriver/.DS_Store
Sources/LeafDriver/.DS_Store
Sources/LeafDriver/.DS_Store
.build
.swiftpm/xcode/xcuserdata/janverrept.xcuserdatad/xcschemes/xcschememanagement.plist
